<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="Order" class="com.acme.order.pizza.PizzaOrderServiceImpl"></bean>
	<bean id="OrderRepositpory" class="com.acme.order.pizza.PizzaOrderServiceImpl"></bean>
	<bean id="TimeService" class="com.acme.order.pizza.PizzaOrderServiceImpl"></bean>
	<bean id="message" class="com.acme.order.pizza.PizzaOrderServiceImpl"></bean>
	<bean id="mailSender" class="com.acme.order.pizza.PizzaOrderServiceImpl"></bean>
</beans>
